*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;

}
#banner{
	background:linear-gradient(rgba(0,0,0,0.5),#009688), url(barber/banner.jpg);
	background-size: cover;
	background-position: center;
	height:100vh;
	width: 100%;
}
.logo{
	position: absolute;
	top: 4%;
	left: 5%;
	width: 140px;
}
.bann-text{
	text-align: center;
	color: white;
	padding: 220px;
}
.bann-text h1{
	font-size: 80px;
	font-weight: bold;
	font-family:  'Kaushan Script', cursive;
}
.bann-text p{
	font-size:20px;
	font-style: italic;
}
.bann-btn{
	margin: 30px ;
}
.bann-btn a{
	margin: 10px;
	text-decoration: none;
	border: .5px solid white;
	padding: 10px;
	
	width: 150px;
	color: white;
}
.bann-text a:hover{
	background: black;
	color: white;
	border: none;
	transition: .5s;
}
#sidenav{
	width: 220px;
	height: 100vh;
	position: fixed;
	top:0;
	z-index: 9;
	background: #009688;
	right: -220px;
	transition: 0.5s all;
}
nav ul {
	
	margin-left: 35px;
}
nav ul li{
   list-style: none;
   margin: 60px 30px;
}
nav ul li a{
   text-decoration: none;
   color: white;
}
.menu-btn {
   width: 50px;
   height: 50px; 
   position: fixed;
   top: 20px;
   right: 96px;
   border-radius: 3px;
   cursor: pointer;

}
.menu-btn img{
	width: 28px;
	height: 28px;
	
}

.cut-btn{
	margin: 20px;
	font-size: 30px;
	font-weight: bolder;
	color: #fff;
	cursor: pointer;
}
#feature{
	width: 100%;
	margin: 20px auto;
	padding-top: 20px;	
}
.title-text{
	text-align: center;
	padding-bottom: 70px;
	
}
.title-text p{
	margin: auto;
	font-size: 20px;
	color: #009688;
	font-weight: bold;
	position: relative;
	z-index: 1;
	display: inline-block;
}
.title-text p::after{
	content: '';
	width: 50px;
	height: 35px;
	background: linear-gradient(#019587,#fff);
	
	position: absolute;
	top: -20px;
	left:0;
	z-index: -1;
	transform:rotate(10deg);
	border-top-left-radius: 35px;
	border-bottom-right-radius: 35px;

}

.title-text h1{
	font-size: 50px; 
}
.feature-box{
	width: 80%;
	display: flex;
	margin: 20px auto;
}
.features .fa{
    
    font-size: 25px;
    color: #009688;
 }
.features h1{
	color: #009688;
}
.features p{
	color: black;
	font-weight: bold;
}

.features #staff, #book, #cost{
	margin: 40px 0;
}

.features-img img{
	width: 70%;
    margin-left: 25px;
}
#service{
	width: 100%;
	background:#efefef; 
	padding:70px 0;
}
.service-box{
	width: 80%;
	display:flex;
	flex-wrap: wrap;
	
	margin: 0px auto
}
.service-box .img{
	width: 45%;
	margin: 10px 10px;
	position: relative;
}  

.img img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	opacity: 1;
	cursor: pointer;
	

}
.img:hover.img{
	opacity: 0.8;
	transition: .5s;
	
}
.overlay{
	position: absolute;
	top:25%;
	left: 5%;
	opacity: 0;
	text-align: center;
	transition: 1s;

}
.overlay h1{
    color:white;
    font-size: 45px;
    line-height: 2
    font-weight:bold;
}
.overlay p{
    font-style: italic;
    font-size:20px;
    line-height: 1.5;
    color: white;
    font-weight: bold;
}
.overlay hr{
    width: 60%;
    color: white;
    margin: 10px auto;

}
.img:hover .overlay{
	
	opacity: 1;
}
#testimonial{
	width: 100%;
	padding-top:20px;

	

}
.testimonial-row{
	width: 80%;
	margin: auto;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: flex-start;
}
.testimonial-col{
	flex-basis: 28%;
	padding: 10px;
	margin-bottom: 30px;
	border-radius: 5px;
	box-shadow: 0px 10px 10px 3px #009688;
	cursor: pointer;
	transition: .5s;
}
.user{
	display: flex;
	align-items: center;
	margin: 20px 0;
}
.user img{
	width: 40px;
	margin-right: 20px;
	border-radius:3px;
}
.user .fa{
	font-size: 20px;
	color: #27c0ff;

}
.user small{
	color: #009688;
}
.testimonial-col:hover{
	transform: translateY(7px);
}
#footer{
	
	width: 100%;
	background: #efefef;
	margin-top: 30px;
	padding: 30px 0 20px;
}
.footer-row{
	width: 80%;
	margin: 0 auto;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}
.footer-left, .footer-right{
    flex-basis: 45%;
	padding: 10px;
	margin-bottom: 20px;
}
.footer-right{
	text-align: right;
}
.footer-row h1{
	margin: 10px 0 ;

} 
.footer-row p{
	line-height: 35px;
}
.footer-left .fa, .footer-right .fa{
	font-size: 20px;
	color: #009688;
	margin: 10px;
}
.social-links{
	text-align: center;
}
.social-links .fa{
   height: 40px;
   width: 40px;
   font-size:20px;
   line-height: 40px;
   border: 1px solid #009688;
   margin: 10px 10px;
   color: #009688;
   cursor: pointer;
   transition: .5s;
}
.social-links .fa:hover{
	background: #009688;
	color: #fff;
	transform: translateY(-7px);
}
.social-links p{
	font-size: 15px;
	margin-top:20px;
	font-weight: bold;

}



























		);
}